@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

* { 
  font-family: 
  Roboto; margin: 0;
}
body {  overflow-y: hidden; } 

.PersonalInfo, .HomePage, .HeartRate, .ConfirmationPage { 
  height: 2732px;
  background-color: #F1F2F1;
}

.InjuryType {
  height: 2732px;
  background-color: #F4BD00;
}

.InjuryType h1 {
  color: #F1F2F1;  
}

input[type="text"], input[type="number"] {
  border: 3px solid #ffcd2b;
  border-radius: 40px;
  width: 50%;
  height: 100%;
  font-size: 35px;
}

.infoSection {
  height: 40px;
  margin: 100px;
}

.infoSection h3 {
  margin-top: 20px;
  float: left;
  font-size: 50px;
  color: #db8e00;
  font-family: "Roboto Condensed";
}

.infoSection input {
  float: right;
}

h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 100px;
  color: #ffcd2b;
  font-family: "Roboto Condensed";
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #683b0f;
}

.startButton {
  background-color: #F3F4F3;
  font-size: 45px;

  text-align: center;
  border: 3px solid #ffcd2b;

  width: 35%;
  height: 20%;
  margin:auto;
  margin-top: 10%;
  display: block;
  border-radius: 50px;
  color: #ffcd2b;
}

.injuryOption {
  border: 3px solid #F1F2F1;
  border-radius: 50%;
  width: 250px;
  height: 260px;
  margin: 60px;
  display: inline-block;
}

.injuryOptionLabel {
  font-size: 50px;
  color: #794919;
  font-family: "Roboto Condensed";
}

.startButton:active {
  color: #F1F2F1;
  background-color: #ffcd2b;
}

.nextButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 100px;

  background-color: #ffcd2b;
  color: #F1F2F1;
  width: 350px;
  height: 350px;
  text-align: center;
  font-size: 50px;
  border-radius: 50%;
}

.InjuryType .nextButton {
  background-color: #F1F2F1;
  color: #ffcd2b;
}

#buttonWrapper {
  text-align: center;
}

.infoSectionWrapper {
  width: 80%;
  margin-left: 10%;
}